<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form method="post">
      <div class="login">
        <label for="token_id">Token ID : </label>
        <input
          type="text"
          placeholder="Enter Token ID"
          name="token_id"
          id="token_id"
          required
        />
        <button type="submit">Login</button>
      </div>
    </form>
    {% for message in get_flashed_messages(with_categories=True) %}
      {% if message[0] == "error" %}
        <div class="error">{{ message[1] }}</div>
      {% endif %}
    {% endfor %}
  </body>
</html>
